
/* DEFAULT STUFF */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  box-sizing: border-box;
}

header {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 1;

}

main {
  color: white;
  margin-top: 260px;
}


/* OVER-HEADER */

.overNav-container {
  background-color: #f2b114;
  padding: 10px 10px;
}
.overNav {
  display: flex;
  justify-content: space-around;
}

.overNav li {
  /* flex: 0 0 auto; */
  list-style: none;
  text-decoration: underline;
}

/* MAIN-HEADER */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(253, 184, 19, 1);
}

.header-main a {
  color: #222;
  text-decoration: none;
}

.header-main img {
  max-width: 200px;
  display: flex;
  margin-left: 35px;
}

.header-main input[type=text] { 
  display: flex;
  justify-content: flex-start;
  border: #b71717;
  border-width: 2px;
  font-size: 20px;
  border-radius: 25px;
  width: 42%;
  height: 50px;
  margin-right: 45px;
}

.nav-icons {
  margin-right: 35px;
}

/* UNDER-HEADER */
.downNav {
  background-color: rgba(253, 184, 19, 1);
  border-top: 1px solid black;
}

nav ul{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  font-size: 20px;
  margin-left: 3%;
}

li {
  list-style: none;

}

ul li a {
  color: #222;
  text-decoration: none;
}


.contact-about ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-right: 5%;
  font-size: 20px;
  gap: 40px;
  margin-top: -23px;
}

.contact-about li a {
  color: #222;
  text-decoration: none;
}


/* FOOTER STUFF */

footer li {
  list-style: none;
  display: inline-block;
  margin-right: 13%;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.fa {
  padding: 14px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-reddit {
  background-color: #ff4500;
  color: white;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}


footer {
  display: grid;
  grid-template-columns: repeat(12, 8.5%);
  grid-template-rows: 1fr;
}

.text-footer {
  grid-column: 1 / 6;
}

.social-icons {
  grid-column: 10 / 12;
  margin-right: 2%;
  
}
