body {
  background-color: #222;
}


header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

main {
  color: white;
  margin-top: 260px;
}

.overNav-container {
  background-color: #f2b114;
  padding: 5px 10px;
}
.overNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.overNav li {
  flex: 0 0 auto;
  list-style: none;
  text-decoration: underline;
}

nav li{
  list-style: none;
  display: inline-block;
  margin-right: 14%;
  font-size: 20px;
}

.nav-icons {
  position: absolute;
  left: 1221px;
  top: 100px;
}


.header {
  background-color: #f2b114;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(3, auto);
  max-height: 115px;
  background-color: rgba(253, 184, 19, 1);
  padding-bottom: 15px;
}

.header a {
  color: #222;
  text-decoration: none;
}


.header img {
  grid-area: 1 / 1 / 3 / 3;
  max-width: 200px;
}

.contact-about li {
  list-style: none;
  display: inline-block;
  margin-right: 5%;
  font-size: 20px;
}


footer {
  background-color: #222;
  padding: 5px;
}
footer li {
  list-style: none;
  display: inline-block;
  margin-right: 13%;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.social-icons {
  padding: 5px;
  
}

.social-icons li {
  float: right;
  margin-right: 1%;
}

.fa {
  padding: 14px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-reddit {
  background-color: #ff4500;
  color: white;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.header input[type=text] { 
  padding: 6px;
  border: #222;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
  border-radius: 10px;
  width: 507px;
}

