
/* DEFAULT STUFF */
* {
  padding: 0;
  margin: 0;
}

:root {
  --yellow: rgba(253, 184, 19, 1);
  --red: #ff1a1a;
  --white: #FFF;
  --black: #222;
  --blue: #0066cc;

}

body {
  background-color: #222;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 2;
  left: 0px;

}

main {
  color: white;
  flex: 1;
  max-width: 1400px;
  margin: auto;
  

}

h1 {
  font: Inter;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 15px;
  
}



/* OVER-HEADER */

.overNav-container {
  background-color: #f2b114;
  padding: 10px 10px;
}
.overNav {
  display: flex;
  justify-content: space-around;
  white-space: wrap;
  flex-wrap: wrap;
}

.overNav li {
  /* flex: 0 0 auto; */
  list-style: none;
  text-decoration: underline;
}

/* MAIN-HEADER */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(253, 184, 19, 1);
}

.header-main a {
  color: #222;
  text-decoration: none;
}

.header-main img {
  max-width: 175px;
  display: flex;
  margin-left: 35px;
}

input[type=text1] { 
  display: flex;
  justify-content: flex-start;
  border-width: 2px;
  font-size: 20px;
  border-radius: 25px;
  width: 42%;
  height: 50px;
  margin-right: 45px;
  padding: 0px 25px;
}



.nav-icons {
  margin-right: 5%;
  transform: scale(1.5);
}

/* UNDER-HEADER */
.downNav {
  background-color: rgba(253, 184, 19, 1);
  border-top: 1px solid black;
}

nav ul{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  font-size: 20px;
  margin-left: 3%;
}

li {
  list-style: none;

}

ul li a {
  color: #222;
  text-decoration: none;
}


.contact-about ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-right: 5%;
  font-size: 20px;
  gap: 40px;
  margin-top: -23px;
}

.contact-about li a {
  color: #222;
  text-decoration: none;
}


/* FOOTER STUFF */
.text-footer p,
.text-footer a,
.copyright{
  color: #fff;
  text-decoration: none;
}

.fa {
  padding: 14px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  
}

.fa:hover {
  opacity: 0.7;
}

.fa-reddit {
  background-color: #ff4500;
  color: white;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


footer {
  border-top: 1px solid rgba(253, 184, 19, 1);
  position: relative;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-footer {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 35px;
  font-size: 20px;

}

.social-icons {
  display: flex;
  align-content: center;
  gap: 20px;
  margin-right: 5%;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright p::before {
  content: '\00a9';
  color: rgba(253, 184, 19, 1);
  padding: 5px;
}

/* CTA */

.cta {
  display: block;
  text-decoration: none;
  background-color: rgba(253, 184, 19, 1);
  color: #222;
  width: 150px;
  padding: 20px 40px; 
  border-radius: 20px;
  text-align: center;
  font-weight: 800;
  font: Inter;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 28px;
}

.cta-blue {
  background-color: #0066CC;
  color: #FFF;
}

.sale-a {
  color: var(--red) !important;
  text-transform: uppercase;
  text-decoration: underline;
}

.back-button{
  font-size: 22px;
  position: absolute;
  top: 25%;
  left: 5%;
  
  /* position: absolute;
  top: 25%;
  left: 6%; */
  cursor: pointer;


  
}
/* images */
.homepage-container {
  width: 100%;
  display: flex; 
  justify-content: center;
  
}
.home-page-image {
  width: 100%;
  height: 400px;
}

img {
  max-width: 1400px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-right: 25px;
}

.product {
  flex: 1 0 10px;
  max-width: 300px;
  max-height: auto;
  transform: scale(0.8);
}

.product img {
  max-height: 444px;
  max-width: 300px;
  width: 100%;
  height: auto;
}


/* HOME PAGE */

.homepage-h1 {
  text-align: left;
}

main p {
  font: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.home-page-span {
  font-size: 36px;
  font-weight: 600;
  font: Inter;
  margin-top: 10px;
}

.text-cta-homepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.homepage-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  
}

.homepage-image-container {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 6;
  
}

.products-homepage {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}



/* ABOUT US */

.about-us-container {
  max-width: 900px;
  margin-inline: auto;

}

.about-us-container h1 {
  text-align: center;
}





.about-us p {
  max-width: 939px;
  font-size: 29px;
  line-height: 55px;
  font-weight: 400;
  margin-top: 60px;

}

.paragraph-two {
  font-size: 40px !important;
  margin-top: 50px;
}

.buttons-aboutus {
  width: 100%;
  max-width: 939px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

/* ALL MOVIES */

.all-movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 42px 200px;
  justify-content: center;
  
  
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder,
.placeholder-sale {
  width: 200px;
}


.movie-container p {
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}

.pricetag {
  font-size: 32px;
}

.movie-container img {
  height: 300px;
  width: auto;
}

.watch-button {
  padding: 30px 50px;
  color: var(--white);
  background-color: var(--red);
  border-radius: 35px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.watch-button:hover {
  opacity: 0.7;
}

.read-button {
  padding: 15px 25px;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 35px;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 30px;
}

.read-button:hover {
  opacity: 0.7;
}



/* CATEGORIES */
.categorie-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;


}


.categories-button {
  padding: 50px;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 25px;
  width: 400px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  
}

.categories-button:hover {
  opacity: 0.7;
}

/* CONTACT US */
.form-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 35px;
  margin-bottom: 40px;
  margin-right: 35px;
}

.form-wrap h1 {
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  resize: vertical;
  outline: none;
}

input[type=text]:focus, textarea:focus, select:focus {
  border: 1px solid var(--yellow);
}

input[type=submit] {
  background-color: var(--yellow);
  color: var(--black);
  padding: 20px 100px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.tile-link {
  margin: 0 auto;
}


/* SALE */

.red-line {
  border-top: 4px solid var(--red);
  z-index: 1;
  width: 50%;
  transform: rotate(155deg);
  position: relative;
  bottom: 32px;
}

.red-text-span {
  position: absolute;
  margin-left: 40px;
  font-size: 52px;
  color: var(--red)
}

/* CART */

.cart-container {
  display: flex;
  gap: 75px;
  max-width: 100%;
  margin-bottom: 75px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 75px;
}

.cart-container img {
  width: 275px;
  height: 440px;
}

.text-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  border-top: 2px solid var(--white);
}

.text-cart-container p {
  font-size: 34px;
}

.total-price p {
  font-size: 40px;
  margin-top: 50px;
}

.checkout-button {
  padding: 30px;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 25px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.checkout-button:hover {
  opacity: 0.7;
}
.cart-text {
  font-size: 42px !important;
  text-decoration: underline;
}


/* PAYMENT PAGES */

.payment-container {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 30% 30% 40%;

}

.form-container-grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
  margin: 0 1rem;
}

.form-payment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type=checkbox] {
  height: 24px;
  width: 24px;
  accent-color: var(--yellow);
}

.payment-picture {
  /* width: 275px;
  height: 434px; */
  max-width: 100%;
  max-height: 100%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-self: start;
}

input[type=text2] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  resize: vertical;
  outline: none;
}

.card-stuff {
  width: 100%;
  display: flex;
  gap: 5px;

}

.card-information i {
  position: absolute;
}

.icon {
  margin-top: 40px;
}

.icon1 {
  margin-left: 150px;
}

.icon2 {
  margin-left: 185px;
}

.icon3 {
  margin-left: 220px;
}

.icon4 {
  margin-left: 255px;
}

.form-payment label{
  font-size: 30px;
}



.purchase-button {
  padding: 30px 100px;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-end: 3;
  align-self: flex-start;
  justify-self: center;
  margin-top: 35px;
  margin-bottom: 35px;
  
}

.purchase-button:hover {
  opacity: 0.7;
}

.terms-of-service {
  color: #769dff;
  cursor: pointer;
}

/* SUCCESS PAGE */

.thankyou-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
 
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.thankyou-page {
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
  gap: 30px;
}

.thankyou-page h1 {
  font-size: 50px;
  color: var(--yellow);
}

.thankyou-page p:first-child {
  font-size: 100px;
  align-self: center;
  margin-top: 50px;
  margin-bottom: 0px;
  color: var(--yellow);
}

.thankyou-page p {
  font-size: 34px;
  font-weight: lighter;
  line-height: 30px;
}

.enjoy {
  font-size: 50px !important;
  margin-top: 20px;
  color: var(--yellow);
  margin-bottom: 50px;
}

.connect {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.connect h3, 
.back-to-home h3 {
  font-size: 30px;
}

.back-to-home {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.back-to-home-button {
  padding: 20px;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 25px;
  width: 300px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.back-to-home-button:hover {
  opacity: 0.7;
}

.social-icons {
  padding: 12px 0;
  
}

.connect,
.back-to-home {
  margin-bottom: 50px;
}

/* PRODUCT PAGE */

.product-flex-container {
  padding: 70px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
  border: 1px solid var(--yellow);
  
}

.surprise-button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 230px;
  max-height: 72px;
  justify-self: flex-start;
  align-self: flex-end;
}



.product-flex-container h2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: flex-start;
  font-size: 42px;
  text-decoration: underline;
  
}

.text-productpage{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  font-size: 25px;
  line-height: 35px;
  max-width: 400px;
  justify-self: flex-start;
  
}

.image-button-flex {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  align-items: center;
  
  
}


.image-button-flex img {
  width: 325px;
  height: 520px;
}

.text-flex-container p {
  font-size: 25px;
}

.first-text-flex,
.second-text-flex {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
  

}

.first-text-flex {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: flex-start;
}

/* SURPRISE PAGE */

/* same as productpage */







/* LOGIN PAGE */

input[type=password] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
  resize: vertical;
  outline: none;
}

.login-flex-container p {
  font-weight: lighter;
  
}

.login-flex-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.login-flex-container input {
  width: 400px;
}



.login-button {
  padding: 20px;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 25px;
  width: 300px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.signup-span {
  color: #769dff;
  cursor: pointer;
}

/* harmbuger stuff */

#menu-checkbox,
.hamburger-icon {
  display: none;
}

.invisible-nav {
  display: none;
  position: static;
}

.buttons-homepage1 {
  display: none;
}


/* media queries */

@media (min-width: 1400px) {
  .placeholder {
    display: none;
  }
}


@media (max-width: 850px) {
  input[type=text1],
  .downNav,
  .home-page-image,
  .homepage-image-container {
    display: none;
  }

  .invisible-nav {
    display: none;
  }


  .nav-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 10%;
    
  }

  .fa {
    padding: 5px;
  }

  .products-homepage {
    grid-row: 2 / 3;
  }

  .homepage-container {
    grid-template-rows: min-content min-content 1fr;
  }

  .hamburger-icon {
    display: block;
    font-size: 1.5rem;
  }
  

  #menu-checkbox:checked ~ .invisible-nav {
    display: block;
  }

  header {
    position: relative;
  }

  .invisible-nav a {
    display: block;
    padding: 1rem 2rem;
  }

  .invisible-nav {
    /* display: block; */
    position: static;
    background-color: var(--yellow);
    position: absolute;
    right: 0%;
    top: 100%;
    margin: 0;
    padding: 0;
  }

  .buttons-homepage1 {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
  }

  .buttons-homepage {
    display: none;
  }

  .products-homepage {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .back-button {
    display: none;
  }
  
  .card-information i {
    display: none;
  }

  .purchase-button {
    padding: 30px 60px;
  }

  .copyright,
  .text-footer {
    margin-top: 10px;
  }

  .refunds {
    display: none;
  }

  .categories-button {
    width: 200px;
  }

  .back-to-home {
    display: none;
  }
  .connect {
    grid-column-start: 1;
    grid-column-end: 3;
    
  }
}